/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Poppins', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
/* global style */
.fw-100{
    font-weight: 100;
}
.fs-60{
    font-size: 60px;
}
.w-10{
    width: 10% !important;
}
.w-35{
    width: 35%;
}
.ms-50{
    margin-left: 50%;
}
.rotate-15{
    transform: rotate(15deg);
}
.rotate-90 {
  transform: rotate(90deg);
}
.bg-grey-blue{
    background-color: #eaeef1;
}
.w-55{
    width: 55%;
}
.gap-8{
    gap: 8rem !important;
}
.fs-14{
    font-size: 14px !important;
}
.num-color{
    color: #9f8884;
}
.color-shape{
    width: 17px;
    height: 66%;
}
.bg-black{
    background-color: #232228;
}
.bg-Blue{
    background-color: #629fd1;
}
.bg-brown{
    background-color: #a06c30;
}
.bg-burgundy{
    background-color: #560403;
}
.bg-cool-pink{
    background-color: #a93d54;
}
.bg-Deep-purple{
    background-color: #a21f44;
}
.bg-grey{
    background-color: #e0e0e0;
}
.bg-green{
    background-color: #25b14c;
}
.bg-light-brown{
    background-color: #e0d3c3;
}
.bg-navy{
    background-color: #292e4e;
}
.bg-orange{
    background-color: #ff9e20;
}
.bg-pink{
    background-color: #ffd1dc;
}
.bg-purple{
    background-color: #b799b4;
}
.bg-red{
    background-color: #cc0000;
}
.bg-RoseWood{
    background-color: #b7464d;
}
.bg-True-Cotal{
    background-color: #ba4f4f;
}
.bg-yellow{
    background-color: #f2e576;
}
.bg-worm-orange{
    background-color: #f05025
}
.bg-footer{
    background-color: #1b1f22;
}
.custom-check:checked {
  background-color: black;
  border-color: black;
}
.fs-15{
    font-size: 15px;
}
.fs-13{
    font-size: 13px;
}
.h-28{
    height: 28vh;
}
.h-5{
    height: 5vh;
}
.h-4{
    height: 4vh;
}
.hover-orange:hover{
    color: #ff4e00;
}
.hover-black:hover{
    background-color: #000;
}
.hover-red:hover{
    color: red !important;
}
.cursor-pointer{
    cursor: pointer;
}
.hover-border:hover{
    border-bottom: 1px solid #000;
}
.w-90{
    width: 90%;
}
.text-gray{
    color: gray;
}
/* custom style */
.icon{
    top: 26px;
    right: 586px; 
}
nav form{
    padding-right: 11%;
}
.placeholder1::placeholder{
    font-size:small;
}
.custom-scroll::-webkit-scrollbar {
  width: 4px;              
  height: 6px;             
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #000;       
  border-radius: 10px;     
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #333;       
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;     
  border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn-animate{
    transition: all 200ms ease;
}
.btn-animate:hover{
    background-color: #f50505 !important;
}
.icons-flex{
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 1s ease;
}
.div-hover:hover .icons-flex{
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.shadow-right-bottom:hover{
    box-shadow: 6px 6px 12px rgba(0,0,0,0.8); 
}
.card{
    border-radius:0 ;
}
.hover-border:hover{
    border: 1px solid #000 !important;
}
.input-email::placeholder{
    font-size: 14px;
}
.input-email{
    padding: 4% 35% 4% 10%;
}

/* .link-underline{
    try to make it animate like the original one
} */
.live{
    width: 10px;
    height: 10px;
}